.update-html{
    height:100%;
}
.update-body {
    height: 100%;
    margin: 0px;
}
.update-form{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.update-header {
    display: flex;
    width: 100%;
    background-color: #1a73e8;
}
.update-main-div {
    width: 45%;
    height: 450px;
    margin-left: 20%;
    margin-top: 30px;
}
.update-header-content{
    margin-left:33%;
    color:#FFFFFF;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:30px;
}
.update-content{
    border:1px solid #e0e0e0;
    width:99.5%;
}
.update-sub-content-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.update-sub-content{
    margin-top:20px;
}
.update-lbl-one, .update-lbl-two, .update-lbl-three, 
.update-lbl-four, .update-lbl-five, .update-lbl-six{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:25px;
}
.update-textbox-one, .update-textbox-two, .update-textbox-three,
.update-textbox-four, .update-textbox-five, .update-textbox-six {
    height: 30px;
    width: 300px;
    outline: none;
    border: 1px solid #A9A9A9;
    border-radius:5px;
}
.update-textbox-one{
    margin-left: 30px;
}
.update-textbox-two, .update-textbox-three{
    margin-left: 45px;
}
.update-textbox-four{
    margin-left:70px;
}
.update-textbox-five{
    margin-left:10px;
}
.update-button {
    border-radius: 5px;
    font-size: 15px;
    background-color: #1a73e8;
    margin-top: 30px;
    height: 50px;
    width: 200px;
    color: #FFFFFF;
    outline: none;
    border: none;
    margin-bottom: 35px;
    cursor: pointer;
}